body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('fly.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

#header {
    margin-top: 0%;
    font-size:50px;
    color:white;
}

#header img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}
.container{
    color:white;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


button {
    background-color: #002af9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

